extends ../../views/layout

block content
  .row
    .large-12.columns
      h3= __('qotd-title')
      - if (!user)
        h2 Log in to play this game.

  - if (ROLE < 3)
    .row
      .large-12.columns
        h2 Settings

        form(method='post', action='/api/qotd/settings')
          label Default number of answers per question
            input(name='defaultNoOfAns', type='text', value=mysettings['qotd-defaultNoOfAns'])
          label Limit time to respond (positive values only)
            input(name='countdownTimer', type='text', value=mysettings['qotd-countdownTimer'])
          input.button.small(type='submit', value='Save')

    // Transfer number of fields through JS
    - if (mysettings['qotd-defaultNoOfAns'])
      script var noOfOptions = #{mysettings['qotd-defaultNoOfAns']}

  - if (ROLE < 4)
    .row.collapse.qotd-answer-template
      input(name='valid', type='hidden', value='false', id='qotd-valid', hidden)
      .small-10.columns
        label
          input(name='answer', type='text', id='answer')
      .small-2.columns
        a.button.postfix.qotd-check(href='javascript:void(0);', name='check') False


    .reveal-modal(id='addQotdModal', data-reveal, aria-hidden='true', role='dialog')
      form#add-qotd-form(method='post', action='/api/qotd/add')
        .qotd-question
          .row
            .large-12.columns
              h2#qotd-addForm Add question
              label Question
                input(name='question', type='text', id='qotd-question')
                input(name='id', type='hidden', id='qotd-id')
          .row
            .large-12.columns
              label Tags (space separated)
                input(name='tags', type='text', id='qotd-tags')
          .row
            .large-6.columns.left
              label Answers
                .qotd-answer-list
            .large-6.columns.right
              label Date (dd/mm/yy)
                input(name='date', type='text', id='qotd-date')
              #datepicker

        .spacer
        .controls.row
          .large-10.columns.left
            input.button.small(name='add-qotd-answer', type='button', value='Add answer')
          .large-2.columns.right
            input.button.small(id='qotd-submit', type='submit', value='Save')

    .spacer
    .row
      a.radius.button(href='#', onclick='editQotd()') Add a new qotd
      .large-10.columns.left
        h2 List of questions
        .qotd-question-list
        .spacer
        .qotd-question-pages.text-center
        .spacer
      .large-2.columns.left
        h2 Tags
        ul
          - each tag in qtags
            li.qotd-tag
              a(href='#', onclick='selectTag("' + tag._id + '")')= tag.name + ' (' + tag.count + ')'


  - if (ROLE == 4)
    .row
      .large-12.columns
        h2 Play game
        - if (mysettings['qotd-countdownTimer'] > 0)
          #progress-bar(data-time=mysettings['qotd-countdownTimer']): .pbar
        form.qotd-form(id='qotd', method='post', action='/api/qotd/play')
          .qotd-play-question
          .qotd-play-answers

block footer
  script(type="text/javascript", src='/modules/qotd/public/js/main.js')
  script(type="text/javascript", src='/public/js/countdown.js')
