extends layout

block sidebar
  .row
    .large-12.columns
      ul
        li: a(href='/admin/platform')= __('admin_nav_platform')
        li: a(href='/admin/settings')= __('admin_nav_application')
        li: a(href='/admin/users')= __('admin_nav_users')
        li: a(href='/admin/tags')= __('admin_nav_tags')

block content
  roles = {0: 'Root', 1: 'Admin', 2: 'Teacher', 3: 'Contributor', 4: 'Player'}

  - if (tab == 'platform')
    .row
      .large-12.columns
        h1= __('admin_platform_title')
        br
        = __('admin_platform_language') + ' ' + app_data.language
        br
        = __('admin_platform_superuser')
        - each pass, user in app_data.superuser
          = "  " + user
        br
        = __('admin_platform_theme')
        - each enable, name in app_data.themes
          - if (enable == true)
            = ' ' + name
        br
        = __('admin_platform_modules')
        br
        - each enable, name in app_data.modules
           = '* ' + name + ' (' + enable + ')'
        br
        br
        p= __('admin_platform_edit')

  - if (tab == 'users')
    .row
      .large-12.columns
        h1= __('admin_users_title')

        .spacer
        - each user in users
          .profile-card
            = 'ID: ' + user._id
            br
            - if (user.facebook.name)
              = 'Facebook name: ' + user.facebook.name
              br
            - if (user.twitter.name)
              = 'Twitter name: ' + user.twitter.name
              br
            - if (user.google.name)
              = 'Google name: ' + user.google.name
              br
            - if (user.github.name)
              = 'GitHub name: ' + user.github.name
              br

            br
            select.role-select(id=user._id)
              - each role, i in roles
                - if (user.role == i)
                  option(value=i, selected)= __('role_' + role.toLowerCase())
                - else
                  option(value=i)= __('role_' + role.toLowerCase())
          .spacer

  - if (tab == 'tags')
    .row
      .large-12.columns
        h1= __('admin_tags_title')
        h4= __('admin_tags_title_add')
        form(method='post', action='/api/tags/add')
          label= __('admin_tags_add_name')
          input(name='name', type='text')
          label= __('admin_tags_add_game')
          input(name='type', type='text')
          input.button.small(type='submit', value=__('button_save'))

    .spacer
    .row
      .large-12.columns
        h4= __('admin_tags_title_list')

    - each tag in mytags
      .row
        .large-4.columns= tag.name
        .large-4.columns= tag.type
        .large-4.columns= tag.count

  - if (tab == 'settings')
    .row
      .large-12.columns
        h1= __('admin_app_title')
      .large-12.columns
        h4= __('admin_app_login')
        small.login-message-nologin.error(style='display: none')= __('settings-nologin')

    .row.login-options
      .large-6.columns
        label(for='login-level')= __('admin_app_login_level')
        select.login-level-select(id='login-level')
          - each role, i in roles
            - if (mysettings['login-level'] == i)
              option(value=i, selected)= __('role_' + role.toLowerCase())
            - else
              option(value=i)= __('role_' + role.toLowerCase())

        br
        input.setting(type='checkbox', id='login-signup', checked=(mysettings['login-signup']==='true'))
        | Allow User signup

      .large-6.columns
        input.setting(type='checkbox', id='login-local', checked=(mysettings['login-local']==='true'))
        = __('admin_app_local')
        br
        input.setting(type='checkbox', id='login-fb', checked=(mysettings['login-fb']==='true'))
        = __('admin_app_facebook')
        br
        input.setting(type='checkbox', id='login-tw', checked=(mysettings['login-tw']==='true'))
        = __('admin_app_twitter')
        br
        input.setting(type='checkbox', id='login-gp', checked=(mysettings['login-gp']==='true'))
        = __('admin_app_google')
        br
        input.setting(type='checkbox', id='login-gh', checked=(mysettings['login-gh']==='true'))
        = __('admin_app_github')
