extends layout

block content
  - if (error != '')
    .spacer
    .row.panel.callout.radius= error

  .spacer
  .row
    .reveal-modal(id='signupModal', data-reveal, aria-labelledby='firstModalTitle', aria-hidden='true', role='dialog')
      h3= __('login_title_create')
      form(action='/signup', method='post')
        label= __('login_email')
        input(name='email', type='text')
        br
        label= __('login_pass')
        input(name='password', type='password')
        br
        button.btn.btn-warning(type='submit')= __('login_register')
        br
        = __('login_already_reg') + ' '
        a(href='/login')= __('login_title_auth')

    - if (mysettings['login-local'] === 'true')
      .large-5.columns
        h3= __('login_title_auth')
        form(action='/login', method='post')
          label= __('login_email')
          input(name='email', type='text')
          label= __('login_pass')
          input(name='password', type='password')

          - if (mysettings['login-signup'] === 'true')
            p= __('login_need_account')
              a(href='#', data-reveal-id='signupModal')= __('link_here') + '.'
            br

          button.btn.btn-warning(type='submit')= __('login_submit')

    - if (mysettings['login-fb'] === 'true' || mysettings['login-tw'] === 'true' || mysettings['login-gp'] === 'true' || mysettings['login-gh'] === 'true')
      .large-5.columns
        h3= __('login_title_social')
        - if (mysettings['login-fb'] === 'true')
          a(href='/auth/facebook')= __('login_facebook')
          br
        - if (mysettings['login-tw'] === 'true')
          a(href='/auth/twitter')= __('login_twitter')
          br
        - if (mysettings['login-gp'] === 'true')
          a(href='#', onclick='gapi.auth.signIn({callback: signInCallback})')= __('login_google')
          br
        - if (mysettings['login-gh'] === 'true')
          a(href='/auth/github')= __('login_github')
