extends layout

block content
  .row
    - if (!user)
      h4= __('messages_alert_login')
    - else
      h3= __('messages_new')
      form(action='/messages/send', method='post')
        label= __('messages_compose_to')
        input(name='destination', type='text')
        label= __('messages_compose_body')
        textarea(name='message', rows='5')
        button.btn.btn-warning(type='submit')= __('messages_compose_send')
      br

      h3= __('messages_title_list')
      - if (messages.length)
        p= messages
      - else
        h5= __('messages_alert_nomsg')