extends layout

block content
  .row
    - if (!user)
      h4 Login to view your profile.

    - else
      h3 Profile Page

      if (user && !user.facebook.id && mysettings['login-fb'] === 'true')
        a(href='/connect/facebook') Connect Facebook account
        br
      if (user && !user.twitter.id && mysettings['login-tw'] === 'true')
        a(href='/connect/twitter') Connect Twitter account
        br
      if (user && !user.google.id && mysettings['login-gp'] === 'true')
        a(href='#', onclick='gapi.auth.signIn({callback: signInCallback})') Connect Google account
        br
      if (user && !user.github.id && mysettings['login-gh'] === 'true')
        a(href='/connect/github') Connect GitHub account
        br

      br
      - if (user)
        | ID: #{user._id} <br>
        | ROLE: #{user.role} <br>

      - if (user && user.local.email)
        b Local data <br>
        | Email: #{user.local.email} <br>

      - if (user && user.facebook.id)
        b Facebook <br>
        | #{user.facebook.name} (id: #{user.facebook.id}) <br>
        | Email: #{user.facebook.email} <br>
        | Token: #{user.facebook.token} <br>

      - if (user && user.twitter.id)
        b Twitter <br>
        | #{user.twitter.displayName} (id: #{user.twitter.id}) <br>
        | Username: #{user.twitter.username} <br>
        | Token: #{user.twitter.token} <br>

      - if (user && user.google.id)
        b Google <br>
        | #{user.google.name} (id: #{user.google.id}) <br>
        | Email: #{user.google.email} <br>
        | Avatar: #{user.google.avatar} <br>
        | Token: #{user.google.token} <br>

      - if (user && user.github.id)
        b GitHub <br>
        | #{user.github.name} (id: #{user.github.id}) <br>
        | Email: #{user.github.email} <br>
        | Token: #{user.github.token} <br>

      if (user)
        br
        a(href='/logout') Logout