doctype html
html

  head
    title= __('title')

    // Foundation css + js
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/normalize.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/modernizr.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/fastclick.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js')

    // Countdown
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.8.2/themes/smoothness/jquery-ui.css')
    script(src='https://code.jquery.com/ui/1.8.2/jquery-ui.min.js')

    // Datepicker
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js')

    // Load theme css
    link(rel='stylesheet', href='/theme/css/style.css')
    // Load socket.io and noty.js
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/packaged/jquery.noty.packaged.js")


  body
    nav.top-bar(data-topbar, role='navigation', data-options="is_hover:false,dropdown_autoclose:false")
      ul.title-area
        li.name
          h1
            a(href='/')= __('nav_home')
        li.toggle-topbar.menu-icon
          a(href="#")
            span

      section.top-bar-section
        ul.right
          - if (!user)
            li.active
              a(href='/login')= __('nav_login')
          - else
              // Current role
              - var ROLE = (locals.ROLE ? locals.ROLE : user.role)

              // Display roles only for non-players
              - if (user.role < 4)
                li.has-dropdown
                  a(href='#')= __('role_title') + ' | '
                    - if (ROLE == 0)
                      = __('role_root')
                    - if (ROLE == 1)
                      = __('role_admin')
                    - if (ROLE == 2)
                      = __('role_teacher')
                    - if (ROLE == 3)
                      = __('role_contributor')
                    - if (ROLE == 4)
                      = __('role_player')

                  // Available roles
                  ul.dropdown
                    - if (user.role == 0)
                      li: a(href=locals.URL + '?role=0')= __('role_root')
                    - if (user.role <= 1)
                      li: a(href=locals.URL + '?role=1')= __('role_admin')
                    - if (user.role <= 2)
                      li: a(href=locals.URL + '?role=2')= __('role_teacher')
                    - if (user.role <= 3)
                      li: a(href=locals.URL + '?role=3')= __('role_contributor')
                    - if (user.role <= 4)
                      li: a(href=locals.URL + '?role=4')= __('role_player')

              li.active
                a(href='/logout')= __('nav_logout')

        ul.left
          li
            a(href='/profile')= __('nav_profile')
          li
            a(href='/messages')= __('nav_messages')
          - if (user && user.role <= 1)
            li
              a(href='/admin')= __('nav_admin')

    dl.sub-nav
      .row
        .large-12.columns
          dt= __('module_title') + ':'
          - each mod in settings.games
            dd.active
              a(href='/' + mod)= __('module_' + mod)

    #main
      block sidebar
      block content

  block footer
  - if (user)
    script var myuser = '#{user._id}'
  // Insert core js
  script(type="text/javascript", src='/public/js/main.js')
