extends layout

block content
  .row
    - if (!user)
      h4= __('profile_alert_login')

    - else
      h3= __('profile_title')

      if (user && !user.facebook.id && mysettings['login-fb'] === 'true')
        a(href='/wouso-social-login/connect/facebook')= __('profile_connect_facebook')
        br
      if (user && !user.twitter.id && mysettings['login-tw'] === 'true')
        a(href='/wouso-social-login/connect/twitter')= __('profile_connect_twitter')
        br
      if (user && !user.google.id && mysettings['login-gp'] === 'true')
        a(href='/wouso-social-login/connect/google')= __('profile_connect_google')
        br
      if (user && !user.github.id && mysettings['login-gh'] === 'true')
        a(href='/wouso-social-login/connect/github')= __('profile_connect_github')
        br

      br
      h3= __('profile_title_points')
        - if (user.points)
          p= user.points
        - else
          p 0

      br
      h3= __('profile_title_badges')
      - if (badges.length)
        - each badge in badges
          .profile-badge
            .profile-badge-img
              img(src='/public/img/#{badge.name}.png', width='30px', height='30px')
            .profile-badge-name
              p #{badge.name} #{badge.level}
      - else
        p= __('profile_alert_nobadge')

      br
      h3= __('profile_title_info')
      - if (user)
        | ID: #{user._id} <br>
        | ROLE: #{user.role} <br>
        .spacer

      - if (user && user.local.email)
        b Local <br>
        | Email: #{user.local.email} <br>
        .spacer

      - if (user && user.facebook.id)
        .profile-card
          .profile-card-name
            h3 #{user.facebook.name} (id: #{user.facebook.id})
          | Email: #{user.facebook.email} <br>
          | #{__('text_from')} Facebook
        .spacer

      - if (user && user.twitter.id)
        .profile-card
          .profile-card-name
            h3 #{user.twitter.displayName} (id: #{user.twitter.id})
          | Username: #{user.twitter.username} <br>
          | #{__('text_from')} Twitter
        .spacer

      - if (user && user.google.id)
        .profile-card
          .profile-card-avatar
            img(src=user.google.avatar, width='100px', height='100px')
          .profile-card-name
            h3 #{user.google.name} (id: #{user.google.id})
          | Email: #{user.google.email} <br>
          | #{__('text_from')} Google
        .spacer

      - if (user && user.github.id)
        .profile-card
          .profile-card-name
            h3 #{user.github.name} (id: #{user.github.id})
          | Email: #{user.github.email} <br>
          | #{__('text_from')} GitHub
        .spacer
