extends layout

block content
  .row
    .large-12.columns
      h2= __('qotd_title')
      .spacer
      - if (!user)
        h4= __('qotd_alert_login')

  // Transfer number of fields through JS
  - if (mysettings['qotd-defaultNoOfAns'])
    script var noOfOptions = #{mysettings['qotd-defaultNoOfAns']}

  - if (ROLE < 2)
    .row
      .large-12.columns
        h3= __('qotd_title_settings')

        form(method='post', action='/api/qotd/settings')
          label= __('qotd_settings_default_ans')
            input(name='defaultNoOfAns', type='text', value=mysettings['qotd-defaultNoOfAns'])
          label= __('qotd_settings_timelimit')
            input(name='countdownTimer', type='text', value=mysettings['qotd-countdownTimer'])
          label= __('qotd_settings_points')
            input(name='points', type='text', value=mysettings['qotd-points'])
          input.button.small(type='submit', value=__('button_save'))

  - if (ROLE == 3 || ROLE == 2)
    .row.collapse.qotd-answer-template
      input(name='valid', type='hidden', value='false', id='qotd-valid', hidden)
      .small-10.columns
        label
          input(name='answer', type='text', id='answer')
      .small-2.columns
        a.button.postfix.qotd-check(href='javascript:void(0);', name='check') False


    .reveal-modal(id='addQotdModal', data-reveal, aria-hidden='true', role='dialog')
      form#add-qotd-form(method='post', action='/api/qotd/add')
        .qotd-question
          .row
            .large-12.columns
              h2#qotd-addForm-title= __('qotd_add_title')
              h2#qotd-editForm-title= __('qotd_edit_title')
              label= __('qotd_add_field_question')
                input(name='question', type='text', id='qotd-question')
                input(name='id', type='hidden', id='qotd-id')
          .row
            .large-12.columns
              label= __('qotd_add_field_tags')
                input(name='tags', type='text', id='qotd-tags')
          .row
            .large-6.columns.left
              label= __('qotd_add_field_answers')
                .qotd-answer-list
            .large-6.columns.right
              label= __('qotd_add_field_date')
                input(name='date', type='text', id='qotd-date')
              #datepicker

        .spacer
        .controls.row
          .large-10.columns.left
            input.button.small(name='add-qotd-answer', type='button', value=__('qotd_add_answer'))
          .large-2.columns.right
            input.button.small(id='qotd-submit', type='submit', value=__('button_save'))

    .spacer
    .row
      a.radius.button(href='#', onclick='editQotd()')= __('qotd_add_button')
      .large-10.columns.left
        h2= __('qotd_list_title')
        .qotd-question-list
        .spacer
        .qotd-question-pages.text-center
        .spacer
      .large-2.columns.left
        h2= __('qotd_tags_title')
        ul
          - each tag in qtags
            li.qotd-tag
              a(href='#', onclick='selectTag("' + tag._id + '")')= tag.name + ' (' + tag.count + ')'


  - if (ROLE == 4)
    .row
      .large-12.columns
        - if (mysettings['qotd-countdownTimer'] > 0)
          #progress-bar(data-time=mysettings['qotd-countdownTimer']): .pbar
        form.qotd-form(id='qotd', method='post', action='/api/qotd/play')
          .qotd-play-question
          .qotd-play-answers
          .spacer
          input.button.small#qotd-form-submit(type='submit', value=__('qotd_game_check'), style='display:none')

block footer
  script(type="text/javascript", src='/modules/qotd/public/js/main.js')
  script(type="text/javascript", src='/public/js/countdown.js')
