extends layout

block content
  .row
    .large-12.columns
      h2= __('qotd_title')
      .spacer
      - if (!user)
        h4= __('qotd_alert_login')

  // Transfer number of fields through JS
  - if (mysettings['qotd-defaultNoOfAns'])
    script var noOfOptions = #{mysettings['qotd-defaultNoOfAns']}
  - if (mysettings['qotd-countdownTimer'])
    script var countdownTimer = #{mysettings['qotd-countdownTimer']}
    - if (mysettings['qotd-points'])
      script var qotdPoints = #{mysettings['qotd-points']}
  script function do_on_timeout() { $('#qotd').submit() }


  - if (ROLE < 2)
    #qotd-admin

  - if (ROLE == 3 || ROLE == 2)
    #qotd-contrib

  - if (ROLE == 4)   
    #qotd-game
          
          
block footer
  script(type="text/javascript", src='/public/js/countdown.js')
