extends layout

block content
  .row
    .large-12.columns
      h2= __('qotd_title')
      .spacer
      - if (!user)
        h4= __('qotd_alert_login')



  // Transfer number of fields through JS
  - if (mysettings['qotd-defaultNoOfAns'])
    script var noOfOptions = #{mysettings['qotd-defaultNoOfAns']}
  - if (mysettings['qotd-countdownTimer'])
    script var countdownTimer = #{mysettings['qotd-countdownTimer']}
  script function do_on_timeout() { $('#qotd').submit() }



  - if (ROLE < 2)
    .row
      .large-12.columns
        h3= __('qotd_title_settings')

        form(method='post', action='/api/qotd/settings')
          label= __('qotd_settings_default_ans')
            input(name='defaultNoOfAns', type='text', value=mysettings['qotd-defaultNoOfAns'])
          label= __('qotd_settings_timelimit')
            input(name='countdownTimer', type='text', value=mysettings['qotd-countdownTimer'])
          label= __('qotd_settings_points')
            input(name='points', type='text', value=mysettings['qotd-points'])
          input.button.small(type='submit', value=__('button_save'))

  - if (ROLE == 3 || ROLE == 2)
    .reveal-modal(id='qotdModal', data-reveal, aria-hidden='true', role='dialog')
    .row
      #qotd-question-list

      .large-2.columns.left
        h2= __('qotd_tags_title')
        ul
          - each tag in qtags
            li.qotd-tag
              a(href='#', onclick='selectTag("' + tag._id + '")')= tag.name + ' (' + tag.count + ')'


  - if (ROLE == 4)
    .row
      .large-12.columns        
        #game-qotd
          
          
block footer
  script(type="text/javascript", src='/public/js/countdown.js')
