extends layout

block content
  .row
    .large-12.columns
      h2= __('qotd_title')
      .spacer
      - if (!user)
        h4= __('qotd_alert_login')

  // Transfer number of fields through JS
  - if (mysettings['qotd-defaultNoOfAns'])
    script var noOfOptions = #{mysettings['qotd-defaultNoOfAns']}
  - if (mysettings['qotd-countdownTimer'])
    script var countdownTimer = #{mysettings['qotd-countdownTimer']}
  script function do_on_timeout() { $('#qotd').submit() }


  - if (ROLE < 2)
    .row
      .large-12.columns
        h3= __('qotd_title_settings')

        form(method='post', action='/api/qotd/settings')
          label= __('qotd_settings_default_ans')
            input(name='defaultNoOfAns', type='text', value=mysettings['qotd-defaultNoOfAns'])
          label= __('qotd_settings_timelimit')
            input(name='countdownTimer', type='text', value=mysettings['qotd-countdownTimer'])
          label= __('qotd_settings_points')
            input(name='points', type='text', value=mysettings['qotd-points'])
          input.button.small(type='submit', value=__('button_save'))

  - if (ROLE == 3 || ROLE == 2)
    #qotd-question-list

  - if (ROLE == 4)   
    #game-qotd
          
          
block footer
  script(type="text/javascript", src='/public/js/countdown.js')
